.form-login{
  background: aliceblue;
  height: 100%;
}
.div-login{
  text-align: center;
  border: 2px solid green;
  width: 30%;
  height: 100%;
  margin: auto;
  background: red;
  display: table-cell;
  vertical-align: middle;
}
